
    :root{
        --c78yellow: rgb(255, 211, 51);
        --c78orange: rgb(235, 102, 18);
        --c78black: black;
        --wramTransparent: #13121200;
        --linearGradientC78: linear-gradient(to right,rgb(255, 211, 51) 30%,#EB6612);
        --afterLinearGradientC78: -webkit-text-fill-color: transparent; -webkit-background-clip: text;
        --C78firstFont: '18 Army';
        --C78secondFont: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    @font-face {
        font-family: 18 Army;
        src: url("18 ARMY.otf") format("opentype");
    }
    *{
    margin: 0;
    padding: 0;
    
    }
    main {
        background: linear-gradient(to bottom,white,#FFD333 30%, white, black);
        height : 500vh; 
        max-width: 100vw;
        z-index: -1;
    }
    header {
    display: flex;
    justify-content: space-around;
    background-image: url(header\ fond.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 150px;
    filter: drop-shadow(0 5mm 10px rgba(13, 13, 10, 0.697));
    font-family: var(--C78firstFont);
    z-index:2;
    }
   body {
    font-family: cursive;
    max-width: 100vw;
    overflow-x: hidden;
   }
   a {
    text-decoration: none;
   }
   li {
    list-style: none;
   }
/* NAVBAR STYLING STARTS */
    .navbar {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    
   }
   .nav-links a {
    color: var(--c78yellow);
    filter: drop-shadow(0 10mm 16mm black);
   }
    /* LOGO */
    .logo {
        display: flex;
        flex-direction: row;  
        font-weight: bolder;
    }
    .logoC78 {
        max-width: 15%; 
        min-width: 200px; 
        display: block; 
        filter: drop-shadow(0 8mm 8px rgba(13, 13, 10, 0.33));
    }
    .legend {
      position: relative;
      top: 10px;
      font-size: 16px;
    }
    .english {
      cursor: pointer;
      color: rgba(0, 0, 0, 0.753);
      position: relative;
      top: 10px;
      left: 5px;
      font-size: 16px;
    }
    .english:hover {
      font-size: 18px;
      font-weight: bolder;
    }

   /* NAVBAR MENU */
   .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
    position: relative;
    right: 70%;
    bottom: 10px;
    
   }
   .menu li:hover {
    background-color: rgba(13, 13, 10, 0.33);
    border-radius: 20px;
    transition: 0.3s ease;
    transform: scale(1.1);
   }
   .menu a:hover {
    color: var(--c78orange);
   }
   .menu li {
    padding: 5px 14px;
    justify-content: space-between;
    font-size: 17px;
    letter-spacing: 0.3px;
    font-family: var(--C78firstFont);
    border: 2px solid var(--wramTransparent);
    border-radius: 10px;
    padding: 2% 1%;
    box-shadow: 0 0 5px var(--c78yellow);
   }
   /* DROPDOWN MENU */
   .services {
    position: relative; 
   }
   .dropdown {
    
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
   }
   .dropdown li + li {
    margin-top: 10px;
   }
   .dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
    color: var(--c78yellow);
    background-color: rgba(13, 13, 10, 0.647);
   }
   .dropdown li:hover {
    background-color: rgba(13, 13, 10, 0.837);
   }
   .services:hover .dropdown {
    display: block;
    z-index: 2;
    color: var(--c78yellow);
   }
   input[type=checkbox]{
    display: none;
   } 
   /*HAMBURGER MENU*/
   .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
    color: var(--c78yellow);
    border-radius: 5px;
   }
   /* APPLYING MEDIA QUERIES */
   
   .searchBox {
    position: absolute;
    top: 50%;
    margin-left: 90%;
    font-family: var(--C78secondFont);
    font-weight: lighter;
    background: rgba(0, 0, 0, 0.575);
    height: 33px;
    width: 50px;
    border-radius: 40px;
    padding:5px;
    transition: 0.3s;
    z-index: 1;
    transform-origin: 50px 0;
}
.searchBox:hover .searchTxt {
    width: 220px;
    padding: 0 6px;
    line-height: 40px;
    width: 9rem;
    position: absolute;
    bottom:1px;
    right:16rem;
    
}
.searchBox:hover {
    font-family: var(--C78secondFont);
    background: rgba(0, 0, 0, 0.575);
    height: 33px;
    width: 220px;
    transform-origin: 50px 0;
    /*transform: translateX(-190px);*/
    border-radius: 40px;
    padding:5px;
    text-align: center;
    z-index: 1;
    display: block;
}
/*.searchBox:hover .searchBtn {
    S
}*/
.searchBtn:hover{
    background: white;
}
.searchBtn {
    color:  var(--c78yellow);
    float: right;
    width: 40px;
    height: 30px;
    border-radius: 40px;
    background:var(--c78orange);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    position: relative;
    top:1px;
    z-index: 1;
}
.searchIcon{
    max-width:60%;
    z-index: 1;
}
.searchTxt {
    border: none;
    background: none;
    outline: none;
    float:left; 
    padding: 0;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: normal;
    font-size:15px;
    transition: 0.1s;
    line-height: 40px;
    width: 0rem;
    position: absolute;
    bottom:1px;
    left: 2rem;
    z-index: 1;
}
   /* INTRO*/

h1 {   
    text-align: center;
    justify-content: center;
    margin: 3% 0 auto -33%;
    display: block;
    font-family:var(--C78firstFont);
    font-weight: lighter;
}
.h1first {
    font-size: 3rem;
    animation: 4s anim-lineUp ease-out;
    text-rendering: geometricPrecision;
    font-family: Georgia, 'Times New Roman', Times, serif;
    z-index: 1;
    position: relative;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }  
      }
.h1first:before{
    content:'Chênes';
    font-size: 9rem;
    font-weight: bold;
    position: absolute;
    margin-left: 20%;
    animation: move-from-right 8s;   
    color: rgba(237, 102, 18, 0.239);
    z-index: -1;  
}
@keyframes move-from-right {
    0% {
    opacity: 0;
    transform: translateX(-30%);
    color:rgba(255, 211, 51, 0.351);
    }
    100%  {
    opacity: 1;
    color:rgba(237, 102, 18, 0.325);
    z-index: -1;
    }
}
.h1third {
    font-size: 5.5rem;
    margin-left: 10%;
    margin-bottom: 0;
    animation: anim-popoutin 6s;
    font-weight: 590; 
    letter-spacing: 0.5rem;  
    z-index: 1;
    text-shadow: 0 2mm 10px rgba(13, 13, 10, 0.614);
    color: var(--c78orange);
}

@keyframes anim-popoutin {
  0% {
    opacity: 0;
 }
  50% {
    color: var(--c78orange);
    transform: scale(0);
    opacity: 0;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    color: rgba(255, 211, 51, 0.842);
    transform: scale(4);
    letter-spacing: 0.8rem;
    opacity: 1;
    text-shadow: 3px 10px 5px rgba(0, 0, 0, 0.5);
  }
  80% {
    color: var(--c78orange);
    transform: scale(1);
    opacity: 1;
    text-shadow: 1px 0 0 rgba(0, 0, 0, 0);
    z-index: 1;
  }
  100% {
    /* animate nothing to add pause at the end of animation */
    transform: scale(1);
    opacity: 1;
    text-shadow: 0 2mm 10px rgba(13, 13, 10, 0.46);
    z-index: 1;
  }
} 
#intro p, #intro2 p  {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-left: 20%;
    margin-right: 20%;
   /* margin: 0 20% 30%;*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
    line-height: 1.5;
}
#intro img{
    max-width: 3%;
    
    
}
#intro figure {
    margin-top: 7%;
    margin-left: 40%;
    margin-right: 20%;
    text-align: center;
    display: inline;
    background-color: rgba(255, 0, 0, 0.461);
   
}
#intro figcaption {

}
.bold {
    font-weight: bolder;
    margin: 0;
    filter: drop-shadow(0 4mm 6mm red);
}

/* ASIDE */
/*{
	margin: 0;
	padding: 0;
	list-style: none;
}

body{
	height: 100vh;
	display: flex;
	background: #262626;
	text-align: center;
	justify-content: center;
	align-items: center;
}*/

aside ul{
  position: fixed;
  margin-top: -550px;
  margin-left: 85vw;
	display: flex;
  list-style: none;
  flex-direction: column;
	align-items: center;
  gap: 7px;
}

aside ul li{
	position: relative;
	display: inline;
  text-align: center;
	justify-content: center;
	align-items: center;
	height: 40px;
	width: 40px;
	font-size: 20px;
	line-height: 40px;
	color: black;
	background-color: #17151500;
	cursor: pointer;
	border-radius: 50%;
	margin: 0 15px;
}

aside ul li:before{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	background-color:  #0a83ed00;
	height: 100%;
	width: 100%;
	border-radius: 50%;
	z-index: -1;
	transform: scale(0.9);
	transition: 0.5s;
}

/*aside ul li:nth-child(1):hover:before{
	background-color:  #0a83ed00;
}

aside ul li:nth-child(2):hover:before{
	background-color:  #04a2ffb3;
}

aside ul li:nth-child(3):hover:before{
	background-color: #e23670;
}

aside ul li:nth-child(4):hover:before{
	background-color: #2a6cbb;
}

aside ul li:nth-child(5):hover:before{
	background-color:  #ff1a1a;
}*/

aside ul li:hover:before{
	filter: blur(2px);
	box-shadow: 0 0 15 #0A82ED;
	transform: scale(1.2);
}

aside ul li:nth-child(1):hover:before{
	filter: blur(2px);
	box-shadow: 0 0 15  #0A82ED;
	transform: scale(1.2);
}

aside ul li:nth-child(2):hover:before{
	filter: blur(2px);
	box-shadow: 0 0 15  #04a2ffb3;
	transform: scale(1.2);
}

aside ul li:nth-child(3):hover:before{
	filter: blur(2px);
	box-shadow: 0 0 15  #e23670;
	transform: scale(1.2);
}

aside ul li:nth-child(4):hover:before{
	filter: blur(2px);
	box-shadow: 0 0 15  #2a6cbb;
	transform: scale(1.2);
}

aside ul li:nth-child(5):hover:before{
	filter: blur(2px);
	box-shadow: 0 0 15  #ff1a1a;
	transform: scale(1.2);
}

aside ul li:hover:nth-child(1){
	color: #0A82ED;
	box-shadow: 0 0 15px #0A82ED;
	text-shadow: 0 0 15px #0A82ED;
}

aside ul li:hover:nth-child(2){
	color: #04a2ffb3;
	box-shadow: 0 0 15px #04a2ffb3;
	text-shadow: 0 0 15px #04a2ffb3;
}

aside ul li:hover:nth-child(3){
	color: #e23670;
	box-shadow: 0 0 15px #e23670;
	text-shadow: 0 0 15px #e23670;
}

aside ul li:hover:nth-child(4){
	color: #2a6cbb;
	box-shadow: 0 0 15px #2a6cbb;
	text-shadow: 0 0 15px #2a6cbb;
}

aside ul li:hover:nth-child(5){
	color: #ff1a1a;
	box-shadow: 0 0 15px #ff1a1a;
	text-shadow: 0 0 15px #ff1a1a;
}

/* ICON'S IMAGES*/

.dumbbellIcon {
  position: relative;
  z-index: -1;
}

.dumbbellIcon::before {
  content: url('photosCrossfit\3carrousel.jpg');
  display: none;
  position: absolute;
  max-width: 30%;
  max-height: 30%;
  z-index: 1;
}
.DumbbellIcon > .DumbbellIcon::before {
  display: block;
}
.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .buttonJnr, .buttonAdl {
    margin-top: 3%;
    margin-bottom: 7%;
    min-width: 15vw;
    min-height: 60px;
    font-family: var(--C78firstFont);
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: linear-gradient(90deg, var(--c78yellow) 0%, var(--c78orange) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(0,0,0,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    border-radius: 20px;
    padding: 2% 1%;
    }
  
  .buttonJnr::before, .buttonAdl::before {
    content: '';
    border-radius: 40px;
    padding: 2% 1%;
    width: calc(15vw + 8px);
    height: calc(60px + 12px);
    border: 6px solid var(--c78orange);
    box-shadow: 0 0 60px rgba(235, 102, 18,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
    animation: pulse 4s infinite;
  }
  @keyframes pulse {
    0% {
        width: calc(15vwpx - 12px);
        height: calc(60px - 12px);
        opacity: 0.5;
      }
    /*20% {
        width: calc(300px + 12px);
        height: calc(60px + 12px);
        opacity: 0.5;
    }
    40% {
        width: calc(300px + 14px);
        height: calc(60px + 14px);
        opacity: 0.5;
    }
    90% {
        width: calc(300px + 16px);
        height: calc(60px + 16px);
        opacity: 0.3;
        border: 8px solid #00FFCB;
    }*/
    100% {
        width: calc(15vw + 20px);
        height: calc(60px + 20px);
        opacity: 0; 
        border:12px solid var(--c78orange);
        border-radius: 80px;
    }
  }
  .buttonAdl::before {
    animation: pulse2 8s infinite;
  }
  @keyframes pulse2 {
  0% {
    width: calc(15vwpx - 12px);
    height: calc(60px - 12px);
    opacity: 0.5;
  }
/*20% {
    width: calc(300px + 12px);
    height: calc(60px + 12px);
    opacity: 0.5;
}
40% {
    width: calc(300px + 14px);
    height: calc(60px + 14px);
    opacity: 0.5;
}
90% {
    width: calc(300px + 16px);
    height: calc(60px + 16px);
    opacity: 0.3;
    border: 8px solid #00FFCB;
}*/
100% {
    width: calc(15vw + 20px);
    height: calc(60px + 20px);
    opacity: 0; 
    border:12px solid var(--c78orange);
    border-radius: 80px;
}
}
  
  .buttonJnr:hover, .buttonJnr:focus, .buttonAdl:hover, .buttonAdl:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  .buttonJnr:hover::before, .buttonJnr:focus::before, .buttonAdl:hover::before, .buttonAdl:focus::before {
    opacity: 1;
    animation: none;
  }

h2 {
    position: relative;
    /*display:block;*/
    text-align: center;
    margin: 0 auto 10px;
    font-family: var(--C78firstFont);
    font-size: 2rem;
    margin: 3rem auto 0;
    width: 100%;
    z-index: 1;
    
}
h2 > a {
    text-decoration: none;
    color: rgba(0,0,0);
    z-index: 1;
  }
  
  h2 > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -10px;
    left: 0;
    background: var(--c78orange);
    /*visibility: hidden;*/
    border-radius: 50px;
    /*transform: scaleX(0.3);*/
    /*transition: .25s linear;*/
    animation: line 15s infinite;
    padding: 40px auto 5px;
  }
  /*h2 > a:hover:before,
  h2 > a:focus:before {
    /*visibility: visible;
      transform: scaleX(1);
  }*/
  @keyframes line {
    0% {
      transform: scaleX(0.18);
    }
    50% {
        transform: scaleX(0.26);
       }
    100% {
      transform: scaleX(0.18);
    }   
  }
.sliders {
    display: block;
    user-select: none;
    width: 30vw;
    position: relative;
    margin: 30px auto 30px;
    /*perspective: 1000px;
    transform-style: preserve-3d;*/
    max-width: 90%;    
}
[type=radio]{
   display: none;
}
.sliders label {
    width: 90%;
    border-radius: 4px;
    position: absolute;
    margin: 10% auto;
    cursor: pointer;
    transition: transform 0.4s ease;
    z-index: 1;
 
}
.sliders img {
    width:90%;
    border-radius: 4px;
    position: relative;
    margin: 10% auto;
    cursor: pointer;
    transition: transform 0.4s ease;
    z-index: 1;
}
#slider1:checked~#slide2, #slider2:checked~#slide1,
#slider3:checked~#slide1{
    box-shadow: 0 1px 4px 0 rgba(255,211,51,.37);
    transform: translate3d(25rem,5px,-40rem); 
   
}
#slider1:checked~#slide1, #slider2:checked~#slide2,
#slider3:checked~#slide3 {
    -shadow: 0px 0px 0px 0px rgba(143, 51, 255, 0.976);
    transform: translate3d(3%, -3rem, 0) scale(1.1);
}
#slider1:checked~#slide3, #slider2:checked~#slide3,
#slider3:checked~#slide2{
    box-shadow: 0px 1px 4px 0px rgba(255,211,51,.37);
    transform: translate3d(-25rem,5px,-40rem);
    
}
/*.coach2Text{
    position: sticky;
    bottom: 40vh;
    left: 0;
    right: 1%;
    width: 90%;
    height: 20vh;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.coach2Name{
    font-size: 1.5em;
    margin: -5% auto;
    background: rgba(0, 0, 0, 0.6);
}
.coach2Present {
    font-size: 0.8em;
    margin: -5% auto;
}*/
#slide1::after {
    content:"Ce qui me plait dans le coaching, c’est de transmettre, d’aider et de voir les gens progresser et se sentir mieux après une bonne séance de sport.";
    display: block;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
    color: white;
    bottom: 20vh;
    font-size: 0.9em;
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
/*MAP*/
.responsiveMap{
  overflow:hidden;
  padding-bottom:80vh;
  margin-top: 15vh;
  position:relative;
  height:0;
  display: flex;
  justify-content: space-around;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 8px;
  z-index: 1;
}

.responsiveMap iframe{
  margin-left: calc(100vw - 95%);
  margin-right: calc(100vw - 95%);
  top: 20px;
  /*max-width: 90%;
  max-height: 100%;*/
  position: absolute;
  
}
/* ::::::::::::::::::::::::::::::::::::::::::::::::::::*/

@media (max-width: 768px) {
  header {
    background-position: left;
  }
  .menu { 
   display:none;
   position: absolute;
   background-color:teal;
   right: 0;
   left: 0;
   text-align: center;
   padding: 16px 0;
  }
  .menu li:hover {
   display: inline-block;
   background-color:#4c9e9e;
   transition: 0.3s ease;
  }
  .menu li + li {
   margin-top: 12px;
  }
  input[type=checkbox]:checked ~ .menu{
   display: block;
   z-index: 3;
  }
  .hamburger {
   justify-self: flex-end;
   margin: auto 150% auto;
   display: block;
  }
  .dropdown {
   left: 50%;
   top: 30px;
   transform: translateX(35%);
   perspective: 1000px;
  }
  .dropdown li:hover {
   background-color: #4c9e9e;
  }
  }