header {
    display: flex;
    justify-content: space-around;
   
}
.topImage {
    background-image: url(header\ fond.png); 
    background-position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    height: 5cm; 
    box-shadow: 0 0 10px #FFD333;
}

.c78logosrc {
    margin: 16px;
    margin-left: 60px;
    max-width: 200px;
    opacity: 100%;
    float: left;
}

.idButton {
    float: right;
    margin-right: 30px; 
    text-decoration: none; 
    color: #EB6612;
    position: relative;
    bottom: 40%;
    right: 3%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}
.navBar ul{
    list-style: none;
    margin-top: 10px;
    padding-top: 90px;
    margin:0;
    text-align: center;
    background-size: cover;
    position: relative;
    left: 5%;
    bottom: 39%; 
}
.navBar li{
    padding: 5px;
    border: 2px solid #eb651293;
    border-radius: 8px;
    margin: 5px;
    display: inline;
    
}
.navBar a {
    text-decoration: none;
    width: 100px;
    padding: 15px;
    font-size: 17px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgba(12, 2, 2, 0.479);
}