:root{
    --c78yellow: #FFD333;
    --c78orange: #EB6612;
    --c78black: black;
    --wramTransparent: #13121200;
    --linearGradientC78: linear-gradient(to right,rgb(255, 211, 51) 30%,#EB6612);
    --afterLinearGradientC78: -webkit-text-fill-color: transparent; -webkit-background-clip: text;
    --C78firstFont: '18 Army';
    --C78secondFont: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
@font-face {
    font-family: 18 Army;
    src: url("18 ARMY.otf") format("opentype");
}
body, header{
    margin: 0;
    padding: 0;
    max-width: 100vw;
    overflow-x: hidden;
  
}
main {
    
    background: linear-gradient(to bottom,white,#FFD333 30%,#EB6612, black);
    height : 400vh; 
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;  
}
header {
    z-index:10;
    background-image: url(header\ fond.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    height: 170px; 
    box-shadow: 0 0 10px ;
    font-family: var(--C78secondFont);
    grid-template-columns: 15% 11% 4% 56% 20%;
    grid-template-rows: repeat(3, 57px);
    grid-template-areas: 
    "logoC78 figcaption . . idButton"
    ". . navBar navBar .";
    grid-gap: 0;
    display: flex;
    flex-direction: row; 
    display: inline-grid;    
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-y: hidden;  
}
.logo {
    grid-column: 1/2;
    grid-row: 1/3;
    display: flex;
    flex-direction: row;  
}
.logoC78 {
    z-index:100;
    max-width: 15%; 
    min-width: 200px; 
    display: inline-block; 
}
figcaption{
    grid-column: 2/3;
    grid-row: 1;
    margin-top:10%;
    font-family: var(--C78firstFont);
    font-weight: bold;  
}
.idButton {
    grid-column: 5;
    grid-row: 1;
    font-family: '18 army';
    margin-top:5%;
    margin-right: 10%;
    text-align: left;
    font-weight: bold;     
}
.searchBox {
    grid-column: 5;
    grid-row: 3;
    position: relative;
    top: 5%;
    left: 30%;
    font-family: var(--C78secondFont);
    font-weight: lighter;
    background: rgba(0, 0, 0, 0.575);
    height: 33px;
    width: 50px;
    border-radius: 40px;
    padding:5px;
    text-align: center;
    transition: 0.3s;
}
.searchBox:hover .searchTxt {
    width: 220px;
    
    padding: 0 6px;
    line-height: 40px;
    width: 9rem;
    position: absolute;
    bottom:1px;
    right:16rem;
}
.searchBox:hover {
    font-family: var(--C78secondFont);
    background: rgba(0, 0, 0, 0.575);
    height: 33px;
    width: 220px;
    transform: translateX(-190px);
    border-radius: 40px;
    padding:5px;
    text-align: center;
}
.searchBtn:hover{
    background: white;
}
.searchBtn {
    color:  var(--c78yellow);
    float: right;
    width: 40px;
    height: 30px;
    border-radius: 40px;
    background:var(--c78orange);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}
.searchIcon{
    max-width:60%;
}
.searchTxt {
    border: none;
    background: none;
    outline: none;
    float:left; 
    padding: 0;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: normal;
    font-size:15px;
    transition: 0.1s;
    line-height: 40px;
    width: 0rem;
    position: absolute;
    bottom:1px;
    left: 2rem;
}
.menuBar {
    display:none;
}
.navBar {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row: 2;
    text-align: left;  
    position: relative;
    bottom: 20%;
    z-index: 1;
    background: var(--linearGradientC78);
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text;   
}
.navBar::before {
    content:'';
    background: rgba(0, 0, 0, 0.171);
    display: block;
    width: 60%;
    height: 170px;
    position: absolute;
    top: -45.5px;
    left: 90px;
    z-index: -1;
    transform: skew(-40deg);
}


.navBar ul{
    
}
.navBar li{
    list-style:none;
    list-style-type: none;
    display: inline-block;
    margin: 2% 1%;    

}
.navBar a {
    text-decoration:none;
    width: 110%;
    font-size: 17px;
    font-family: var(--C78firstFont);
    border: 2px solid var(--wramTransparent);
    border-radius: 8px;
    padding: 3px 8px;
    box-shadow: 0 0 5px #FFD333;
    font-weight: bold;  
}
.navBar li:hover{
    transition: transform 200ms;
    transform: scale(1.1);
    box-shadow: 1px 1px 0spx 2px black;
    background: linear-gradient(to top,#FFD333 30%,#EB6612);
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text; 
} 
.dropDownMenu {
    display: none;
}
.img1{
    display: none;
}
article {
   display: flex;
}
.homeImage{
    max-width:30%;
    position: absolute;
    top: 55%;
    left:70%;
}
.homeImage:hover {
    translate: translate-x(-100) 5s;
}
h1 {   
    text-align: center;
    justify-content: center;
    margin: 3% 0 auto -33%;
    display: block;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    font-size: 1rem;
}
.h1first {
    font-size: 3rem;
    animation: 4s anim-lineUp ease-out;
    text-rendering: geometricPrecision;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }  
      }
.h1second{
    font-size: 3rem;
    margin-left: 20%;
    animation: move-from-right 8s;   
    color: #EB6612;
}
@keyframes move-from-right {
    0% {
    opacity: 0;
    transform: translateX(-150%);
    color:#000;
    }
    50%, 100%  {
    opacity: 1;
    color: #EB6612;
    }
}
.h1third {
    font-size: 5rem;
    margin-left: 10%;
    margin-bottom: 0;
    animation: anim-popoutin 6s;
   
}

@keyframes anim-popoutin {
  0% {
    opacity: 0;
 }
  50% {
    color: black;
    transform: scale(0);
    opacity: 0;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    color: red;
    transform: scale(4);
    letter-spacing: 10px;
    opacity: 1;
    text-shadow: 3px 10px 5px rgba(0, 0, 0, 0.5);
  }
  80% {
    color: black;
    transform: scale(1);
    opacity: 1;
    text-shadow: 1px 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    /* animate nothing to add pause at the end of animation */
    transform: scale(1);
    opacity: 1;
    text-shadow: 1px 0 0 rgba(0, 0, 0, 0);
  }
} 
.sliders {
    
    user-select: none;
    width: 30vw;
    position: relative;
    margin: 0 auto;
    perspective: 1000px;
    transform-style: preserve-3d;
    max-width: 90%;
    z-index: 1;
     
}
[type=radio]{
   display: none;
}
.sliders label {
    width: 90%;
    border-radius: 4px;
    position: absolute;
    margin: 10% auto;
    cursor: pointer;
    transition: transform 0.4s ease;
    z-index: 1;
 
}
.sliders img {
    width:90%;
    border-radius: 4px;
    position: relative;
    margin: 10% auto;
    cursor: pointer;
    transition: transform 0.4s ease;
    z-index: 1;
}
#slider1:checked~#slide2, #slider2:checked~#slide1,
#slider3:checked~#slide1{
    box-shadow: 0 1px 4px 0 rgba(255,211,51,.37);
    transform: translate3d(25rem,5px,-300px); 
   
}
#slider1:checked~#slide1, #slider2:checked~#slide2,
#slider3:checked~#slide3 {
    -shadow: 0px 0px 0px 0px rgba(143, 51, 255, 0.976);
    transform: translate3d(3%, -3rem, 0) scale(1.1);
}
#slider1:checked~#slide3, #slider2:checked~#slide3,
#slider3:checked~#slide2{
    box-shadow: 0px 1px 4px 0px rgba(255,211,51,.37);
    transform: translate3d(-25rem,5px,-300px);   
}
#slide1::after {
    content:"Ce qui me plait dans le coaching, c’est de transmettre, d’aider et de voir les gens progresser et se sentir mieux après une bonne séance de sport.";
    display: block;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
    color: white;
    bottom: 20vh;
    font-size: 0.9em;
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#intro{
    margin: 0 min(5%, 320px) min(5%, 320px);
    max-width: 60ch;
    min-width: 45ch;
}
.introButton {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 20px auto;
  width: 200px;
  height: 100px;
  background: rgba(243, 242, 242, 0.343);
  border-radius: 55px;
  font-family: var(--C78firstFont);
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 2px;
  transition: 1s box-shadow;
}
.introButton:hover {
    box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
  }
  
  .introButton:hover::before, .introButton:hover::after {
    display: block;
    content: '';
    position: absolute;
    width: 250px;
    height: 150px;
    background: #5606d7;
    border-radius: 75px;
    z-index: -1;
    animation: 1s clockwise infinite;
  }
  
  .introButton:hover:after {
    background: #0f0d0e68;
    animation: 2s counterclockwise infinite;
  }
  
  @keyframes clockwise {
    0% {
      top: -10px;
      left: 2;
    }
    12% {
      top: -4px;
      left: 4px;
    }
    25% {
      top: 2;
      left: 10px;    
    }
    37% {
      top: 4px;
      left: 4px;
    }
    50% {
      top: 10px;
      left: 2;    
    }
    62% {
      top: 4px;
      left: -4px;
    }
    75% {
      top: 2;
      left: -10px;
    }
    87% {
      top: -4px;
      left: -4px;
    }
    100% {
      top: -10px;
      left: 2;    
    }
  }
  
  @keyframes counterclockwise {
    0% {
      top: -10px;
      right: 2;
    }
    12% {
      top: -4px;
      right: 4px;
    }
    25% {
      top: 2;
      right: 10px;    
    }
    37% {
      top: 4px;
      right: 4px;
    }
    50% {
      top: 10px;
      right: 2;    
    }
    62% {
      top: 4px;
      right: -4px;
    }
    75% {
      top: 2;
      right: -10px;
    }
    87% {
      top: -4px;
      right: -4px;
    }
    100% {
      top: -10px;
      right: 2;    
    }
  }
h2 {
  display: block;
  position: relative;
  margin: 20px auto;
  text-align: center;
}
.coachs {
    display: block;
    user-select: none;
    width: 60vw;
    position: relative;
    margin: 0 auto;
    perspective: 1000px;
    transform-style: preserve-3d;
    max-height: 60%;
    margin: -5% 0 auto max(25%, 10%);   
    box-sizing: border-box;
}
.coach3Text{
    box-sizing: content-box;
    top: 20rem;
    left: 0;
    width: 90%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}















@media screen AND (max-width:1074px)  AND (min-width:830px){
    figcaption{
        grid-column: 2/3;
        grid-row: 1;
        margin-top:10%;
        font-family: var(--C78firstFont);
        font-weight: bold;  
    }
    .idButton {
        grid-column: 4/5;
        grid-row: 1;
        font-family: '18 army';
        margin-top:5%;
        padding-top: 2%; 
        font-weight: bold;
        text-align: left;
    }
    .navBar {
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row: 2/3;
        background: var(--linearGradientC78);
        -webkit-text-fill-color: transparent; 
        -webkit-background-clip: text;   
        text-align: right;  
        position: relative;
        bottom:-3px;
        right: 10%;
        z-index: 1;
    }
    .navBar::before {
        content:'';
        background: rgba(0, 0, 0, 0.171);
        display: block;
        width: 60%;
        height: 170px;
        position: absolute;
        top: -60px;
        left: 35%;
        z-index: -1;
        transform: skew(-40deg);
    }
    .navBarr ul{
        width: 110%;
    }
    .navBar li{
        list-style:none;
        list-style-type: none;
        display: inline-block;
        margin: 2% 1%;    
    }
    .navBar a {
        text-decoration:none; 
        font-family: var(--C78firstFont);
        border: 2px solid var(--wramTransparent);
        border-radius: 8px;
        padding: 3px 8px;
        box-shadow: 0 0 5px #FFD333;
        font-weight: bold;  
        font-size: 0.9rem;     
    }
    .navBar li:hover{
        transition: transform 200ms;
        transform: scale(1.1);
        box-shadow: 1px 1px 0spx 2px black;
        background: linear-gradient(to top,#FFD333 30%,#EB6612);
        -webkit-text-fill-color: transparent; 
        -webkit-background-clip: text; 
    } 
}
@media screen AND (max-width:830px) AND (min-width:768px){
    header {
        grid-template-columns: 15% 11% 4% 15% 15% 26% 20%;
        grid-template-rows: repeat(5, 57px);
        grid-template-areas: 
        "logoC78 figcaption . . idButton"
        ". . navBar navBar .";
        grid-gap: 0;
        display: flex;
        flex-direction: row; 
        display: inline-grid;    
    }
    .logoC78{
        grid-column: 1/3;
        grid-row: 1;
    }
    figcaption {
        grid-column: 3/4;
        grid-row: 1;
    }
    .idButton {
        grid-column: 4/6;
        grid-row: 1;
        font-family: '18 army';
        margin-top:13%;
        margin-left: 3%;
        padding-top: 0; 
        font-weight: bold;
        text-align: center;
    }
    .navBar {
        display: inline;
        grid-column: 2/8;
        grid-row: 2/3;
        background: var(--linearGradientC78);
        -webkit-text-fill-color: transparent; 
        -webkit-background-clip: text;
        text-align: left;
        margin-left: 12%;
        top: 1%;
    }
    .navBar::before {
        display: none;
    }
    .navBar li {
        background: var(--linearGradientC78);
        -webkit-text-fill-color: transparent; 
        -webkit-background-clip: text;
        font-weight: bold;
    }
    .navBar a {
        font-size: 0.8rem;
        text-shadow: 3px 3px 10px #000,
    }    
}
@media screen AND (max-width:768px) and (min-width:425px){
    header {
        grid-template-columns: 40% 60%;
        grid-template-rows: repeat(5, 57px);
        grid-template-areas: 
        "logoC78 figcaption . . idButton"
        ". . navBar navBar .";
        grid-gap: 0;
        display: flex;
        flex-direction: row; 
        display: inline-grid;    
    }
    figcaption{
        grid-column: 2;
        grid-row: 1;
        margin-top: 2%;
        margin-left: 10%;
        font-family: var(--C78firstFont);
        font-weight: bold; 
        text-align: center; 
    }
    .idButton {
        grid-column: 2;
        grid-row: 1;
        font-family: '18 army';
        margin-top:0;
        margin-left: 5%;
        position: relative;
        top:5px;
        font-weight: normal;
        text-align: right;
    }
    .navBar {
        display:none;
        grid-column:2;
        grid-row: 3;
        background: var(--linearGradientC78);
        -webkit-text-fill-color: transparent; 
        -webkit-background-clip: text;
        text-align: left;
        margin-top: 5%;
        position: relative;
        bottom:20px;     
    }
    .menuBar {
        display: grid;
        grid-column:2;
        grid-row: 3;
        background: var(--linearGradientC78);
        -webkit-text-fill-color: transparent; 
        -webkit-background-clip: text;
        text-align: left;
        margin-top: 5%;
        position: relative;
    }

    .navBar li {
        background: var(--linearGradientC78);
        -webkit-text-fill-color: transparent; 
        -webkit-background-clip: text;
        font-weight: bold;
    }
    .navBar li {
        background: var(--linearGradientC78);
        -webkit-text-fill-color: transparent; 
        -webkit-background-clip: text;
        font-weight: bold;
    }
    .navBar a {
        font-size: 0.9rem;
        text-shadow: 3px 3px 10px #000;
    }    
     
}



    .dropdown li {
        list-style: none;
    }

    .services a {
        text-decoration: none;
    }
    .navbarr {
        display:block;
        position: relative;
        top: 10%;
        background-color: rgba(6, 7, 7, 0);
        color: rgba(14, 11, 11, 0);
        
    }
    .nav-links a {
        color: rgb(10, 9, 9);
    }
    .nav-links ul{
        float: left;

    }
    .menu {
        display: flex;
        gap: 1em;
        font-size: 18px;
        position: relative;
        left: 60px;
    }
    .menu li:hover {
        transform: scale(1.1);
        transition: 0.3s ease;
        background-color: #ffd33391;
        border-radius: 8px;
    
    }
    .menu li {
        padding: 5px 14px;
    }
    .services {
        position: relative; 
        
    }
    .dropdown {
        background: linear-gradient(to top,#EB6612,black);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        padding: 0.3em 0;
        border: 2px solid #1312121f;
        border-radius: 8px;
        padding: 3px 8px;
        box-shadow: 0 0 5px #FFD333;
        position: absolute; /*WITH RESPECT TO PARENT*/
        left: 1px;
        display: none;
        border-radius: 8px;
        top: 35px;
        background-color: rgb(139, 79, 1);
        color:#000;
    } 
    .dropdown li + li {
        margin:1px;
    } 
    .dropdown li {
        padding: 0.5em 1em;
        width: 8em;
        text-align: center;
    } 
    .dropdown li:hover {
        transform: scale(1.2);
        color:black;
   
    }
    .services:hover .dropdown {
        display: block;
        
    }



